##### Ejercicio
El fichero titanic.csv contiene información sobre los pasajeros del Titanic. Escribir un programa con los siguientes requisitos:<br>
Generar un DataFrame con los datos del fichero.<br>
Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas, las 10 primeras filas y las 10 últimas filas.<br>
Mostrar por pantalla los datos del pasajero con identificador 148.<br>
Mostrar por pantalla las filas pares del DataFrame.<br>
Mostrar por pantalla los nombres de las personas que iban en primera clase ordenadas alfabéticamente.<br>
Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron.<br>
Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase.<br>
Eliminar del DataFrame los pasajeros con edad desconocida.<br>
Mostrar por pantalla la edad media de las mujeres que viajaban en cada clase.<br>
Añadir una nueva columna booleana para ver si el pasajero era menor de edad o no.<br>
Mostrar por pantalla el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.<br>

In [4]:
import pandas as pd

titanic = pd.read_csv('./file/titanic.csv', index_col=0)

#print(titanic)

In [ ]:
print('Dimensiones:', titanic.shape)
print('Número de elemntos:', titanic.size)
print('Nombres de columnas:', titanic.columns)
print('Nombres de filas:', titanic.index)
print('Tipos de datos:\n', titanic.dtypes)
print('Primeras 10 filas:\n', titanic.head(10))
print('Últimas 10 filas:\n', titanic.tail(10))

In [ ]:
# Mostrar por pantalla los datos del pasajero con identificador 148
print(titanic.loc[148])

In [ ]:
# Mostrar los nombres de las personas que iban en primera clase ordenadas alfabéticamente.
print(titanic[titanic["Pclass"]==1]['Name'].sort_values())

In [ ]:
# Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron
print(titanic['Survived'].value_counts()/titanic['Survived'].count() * 100)

# Alternativa
print(titanic['Survived'].value_counts(normalize=True) * 100)

In [ ]:
#Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase
print(titanic.groupby('Pclass')['Survived'].value_counts(normalize=True))

In [ ]:
# Eliminar del DataFrame los pasajeros con edad desconocida.
titanic.dropna(subset=['Age'])

# Alternativa 
# titanic = titanic[titanic['Age'].notna()]

In [ ]:
# Mostrar la edad media de las mujeres que viajaban en cada clase.
print(titanic.groupby(['Pclass','Sex'])['Age'].mean().unstack()['female'])

In [8]:
# Añadir una nueva columna booleana para ver si el pasajero era menor de edad o no.
titanic['Young'] = titanic['Age'] < 18

In [9]:
# Mostrar el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.
print(titanic.groupby(['Pclass', 'Young'])['Survived'].value_counts(normalize = True) * 100)

Pclass  Young  Survived
1       False  1           61.274510
               0           38.725490
        True   1           91.666667
               0            8.333333
2       False  0           59.006211
               1           40.993789
        True   1           91.304348
               0            8.695652
3       False  0           78.208232
               1           21.791768
        True   0           62.820513
               1           37.179487
Name: proportion, dtype: float64